body {
  background-color: #fff;
}
body .btn-green {
  background-color: #1ab394;
  color: #fff;
  border-radius: 3px;
}
body .btn-green:hover, body .btn-green:focus {
  background-color: #18a689;
  color: #fff;
}
body .my-rating {
  font-size: 12px;
}
body .panel-footer {
  background-color: #fff;
  text-align: right;
}
